<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button (click)="suggestedUserName()" class="btn btn-primary" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" ngModel name="email" required email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Enter a valid Email</span>
          </div>
          <p *ngIf="!userData.valid && userData.touched">userData is Invalid</p>
        </div>
        <div class="form-group">
          <label>Secret Question</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" #defaultQuestion ="ngModel" name="secret">
            <option Value="Pet">Your first Pet?</option>
            <option Value="teacher">Your Class Teacher?</option>

            <!-- <option *ngFor="let x of options"[value]="options"> {{ x }}</option> -->
          </select>
        </div>
        <br>
        <textarea name="questionanswer" class="form-control" rows="3" [(ngModel)]="answer"></textarea>
        <p class="form-control">Answers is : {{ answer }}</p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">submit</button>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender" required>{{ gender }}
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
<hr> 
<div class="row" *ngIf="submitted">
  <div class="col-xs-12">
    <h3>User Data</h3>
    <p>UserName : {{ user.username }}</p>
    <p>email : {{ user.email }}</p>
    <p>Question : </p>
    <p>UserName : {{ user.Questionanswer }}</p>
    <p>UserName : {{ user.gender }}</p>



  </div>
</div>